In [14]:
import numpy as np
import pandas as pd
from collections import OrderedDict, Counter
import itertools


def flat_list(d_list):
    '''
    dependencies: itertools
    '''
    return list(itertools.chain.from_iterable(d_list))


def incal_create_df_incal_format(df_data_experiment, df_design_expriment):
    df = df_data_experiment.copy()
    categories_groups = df_design_expriment.values[:, 0]
    categories_subjects = list(
        filter(lambda x: ~np.isnan(x),
               (flat_list(df_design_expriment.values[:, 1:]))))

    date_time_level = pd.Series((pd.DatetimeIndex(df['Date_Time_1'])),
                                name='Date_Time_1')
    subjects_level = pd.Series(pd.Categorical(df['subjectID'],
                                              categories=categories_subjects,
                                              ordered=True),
                               name='subjectsID')
    group_level = pd.Series(pd.Categorical(df['Group'],
                                           categories=categories_groups,
                                           ordered=True),
                            name='Group')

    df = df.drop(columns=['Date_Time_1', 'subjectID', 'Group'])

    multi_index_dataframe = pd.concat(
        [date_time_level, subjects_level, group_level], axis=1)

    return pd.DataFrame(df.values,
                        index=pd.MultiIndex.from_frame(multi_index_dataframe),
                        columns=df.columns.values.tolist())

In [15]:
import pandas as pd
import numpy as np

In [40]:
df_data_experiment = pd.read_csv('../csvs/InCal_format_shani.csv')
df_design_expriment = pd.read_csv('../csvs/InCal_format_Design.csv')
df = incal_create_df_incal_format(df_data_experiment, df_design_expriment)
df.sort_index(level=['Date_Time_1','subjectsID'], inplace=True)
df.head(3)

                                        actual_allmeters  actual_foodupa  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          0.820163        0.000000
                    4.0        Control          4.107046        0.003291
                    7.0        Control          2.371926        0.063393

                                        actual_pedmeters  actual_waterupa  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          0.259127         0.000000
                    4.0        Control          3.028645         0.042924
                    7.0        Control          1.586996         0.005169

                                        bodymass  envirolightlux  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  24.46564             NaN
                    4.0        Control  25.13441             NaN
                    7.0        Control  23.96111             NaN

                                        envirooccupancy  envirorh  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control              NaN       NaN
                    4.0        Control              NaN       NaN
                    7.0        Control              NaN       NaN

                                        envirosound  envirotemp   kcal_hr  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          NaN         NaN  0.407835
                    4.0        Control          NaN         NaN  0.440026
                    7.0        Control          NaN         NaN  0.430094

                                              rq      vco2      vh2o  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  0.758679  1.081115  0.136122
                    4.0        Control  0.844737  1.271068  0.233075
                    7.0        Control  0.845578  1.239900  0.108780

                                             vo2  xbreak  ybreak
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  1.421349    79.0   122.0
                    4.0        Control  1.504177   206.0   523.0
                    7.0        Control  1.470920   114.0   337.0

# Get part data by date and time

In [44]:
df.index.get_level_values(0)

DatetimeIndex(['2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               ...
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00'],
              dtype='datetime64[ns]', name='Date_Time_1', length=46672, freq=None)

In [46]:
# Example get the first two days 
df.loc['2021-07-28 16:45:00':'2021-07-30 16:45:00']

                                        actual_allmeters  actual_foodupa  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          0.820163        0.000000
                    4.0        Control          4.107046        0.003291
                    7.0        Control          2.371926        0.063393
                    10.0       Control          1.404414        0.087999
                    13.0       Control          3.425906        0.032658
...                                                  ...             ...
2021-07-30 16:45:00 6.0        Group_3          2.324100        0.000000
                    8.0        Group_3          0.072900        0.007100
                    11.0       Group_3          0.007500        0.000000
                    14.0       Group_3          2.289800        0.000000
                    15.0       Group_3          4.751000        0.098112

                                        actual_pedmeters  actual_waterupa  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          0.259127         0.000000
                    4.0        Control          3.028645         0.042924
                    7.0        Control          1.586996         0.005169
                    10.0       Control          1.140263         0.000000
                    13.0       Control          2.752747         0.077571
...                                                  ...              ...
2021-07-30 16:45:00 6.0        Group_3          1.022600         0.089249
                    8.0        Group_3          0.037900         0.000000
                    11.0       Group_3          0.000000         0.000000
                    14.0       Group_3          1.731000         0.017942
                    15.0       Group_3          3.531400         0.182712

                                        bodymass  envirolightlux  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  24.46564             NaN
                    4.0        Control  25.13441             NaN
                    7.0        Control  23.96111             NaN
                    10.0       Control  22.61497             NaN
                    13.0       Control  25.82226             NaN
...                                          ...             ...
2021-07-30 16:45:00 6.0        Group_3  24.14173             NaN
                    8.0        Group_3  21.50188             NaN
                    11.0       Group_3  19.81223             NaN
                    14.0       Group_3  22.83032             NaN
                    15.0       Group_3  24.19139             NaN

                                        envirooccupancy  envirorh  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control              NaN       NaN
                    4.0        Control              NaN       NaN
                    7.0        Control              NaN       NaN
                    10.0       Control              NaN       NaN
                    13.0       Control              NaN       NaN
...                                                 ...       ...
2021-07-30 16:45:00 6.0        Group_3              NaN       NaN
                    8.0        Group_3              NaN       NaN
                    11.0       Group_3              NaN       NaN
                    14.0       Group_3              NaN       NaN
                    15.0       Group_3              NaN       NaN

                                        envirosound  envirotemp   kcal_hr  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control          NaN         NaN  0.407835
                    4.0        Control          NaN         NaN  0.440026
                    7.0        Control          NaN         NaN  0.430094
                    10.0       Control          NaN         NaN  0.401331
                    13.0       Control          NaN         NaN  0.454166
...                                             ...         ...       ...
2021-07-30 16:45:00 6.0        Group_3          NaN         NaN  0.526695
                    8.0        Group_3          NaN         NaN  0.309843
                    11.0       Group_3          NaN         NaN  0.248475
                    14.0       Group_3          NaN         NaN  0.504553
                    15.0       Group_3          NaN         NaN  0.450596

                                              rq      vco2      vh2o  \
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  0.758679  1.081115  0.136122
                    4.0        Control  0.844737  1.271068  0.233075
                    7.0        Control  0.845578  1.239900  0.108780
                    10.0       Control  0.818524  1.132310  0.162476
                    13.0       Control  0.772627  1.219928  0.147385
...                                          ...       ...       ...
2021-07-30 16:45:00 6.0        Group_3  0.840991  1.513145  0.063993
                    8.0        Group_3  0.706665  0.772150  0.073250
                    11.0       Group_3  0.690466  0.607231  0.046958
                    14.0       Group_3  0.830618  1.438752  0.093878
                    15.0       Group_3  0.911244  1.384025  0.102102

                                             vo2  xbreak  ybreak
Date_Time_1         subjectsID Group
2021-07-28 16:45:00 1.0        Control  1.421349    79.0   122.0
                    4.0        Control  1.504177   206.0   523.0
                    7.0        Control  1.470920   114.0   337.0
                    10.0       Control  1.379476    64.0   147.0
                    13.0       Control  1.578328    11.0   429.0
...                                          ...     ...     ...
2021-07-30 16:45:00 6.0        Group_3  1.802768    64.0   457.0
                    8.0        Group_3  1.093643    18.0    68.0
                    11.0       Group_3  0.880398     0.0     0.0
                    14.0       Group_3  1.730007   179.0   324.0
                    15.0       Group_3  1.517178   123.0   522.0

[2320 rows x 17 columns]

In [71]:
# Example get all point at the spcific date
df.loc['2021-07-29']

                                        actual_allmeters  actual_foodupa  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control           4.87834        0.081075
                    4.0        Control           0.60691        0.063128
                    7.0        Control           4.46670        0.112755
                    10.0       Control           1.35326        0.135329
                    13.0       Control           0.35748        0.124429
...                                                  ...             ...
2021-07-29 23:45:00 6.0        Group_3           5.35440        0.000000
                    8.0        Group_3           1.39170        0.000000
                    11.0       Group_3           6.09760        0.000000
                    14.0       Group_3           2.00250        0.000000
                    15.0       Group_3           4.92360        0.000000

                                        actual_pedmeters  actual_waterupa  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control           3.68759         0.066567
                    4.0        Control           0.27130         0.000045
                    7.0        Control           3.56511         0.005750
                    10.0       Control           1.05592         0.070700
                    13.0       Control           0.12950         0.007564
...                                                  ...              ...
2021-07-29 23:45:00 6.0        Group_3           4.10360         0.024272
                    8.0        Group_3           1.27180         0.000000
                    11.0       Group_3           5.30550         0.006677
                    14.0       Group_3           1.73750         0.003301
                    15.0       Group_3           3.59920         0.068625

                                        bodymass  envirolightlux  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control  25.49633             NaN
                    4.0        Control  25.77548             NaN
                    7.0        Control  24.66716             NaN
                    10.0       Control  23.48423             NaN
                    13.0       Control  26.48984             NaN
...                                          ...             ...
2021-07-29 23:45:00 6.0        Group_3  23.52884             NaN
                    8.0        Group_3  22.19500             NaN
                    11.0       Group_3  19.94459             NaN
                    14.0       Group_3  22.73339             NaN
                    15.0       Group_3  23.50998             NaN

                                        envirooccupancy  envirorh  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control              NaN       NaN
                    4.0        Control              NaN       NaN
                    7.0        Control              NaN       NaN
                    10.0       Control              NaN       NaN
                    13.0       Control              NaN       NaN
...                                                 ...       ...
2021-07-29 23:45:00 6.0        Group_3              NaN       NaN
                    8.0        Group_3              NaN       NaN
                    11.0       Group_3              NaN       NaN
                    14.0       Group_3              NaN       NaN
                    15.0       Group_3              NaN       NaN

                                        envirosound  envirotemp   kcal_hr  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control          NaN         NaN  0.440759
                    4.0        Control          NaN         NaN  0.459654
                    7.0        Control          NaN         NaN  0.540670
                    10.0       Control          NaN         NaN  0.429386
                    13.0       Control          NaN         NaN  0.435759
...                                             ...         ...       ...
2021-07-29 23:45:00 6.0        Group_3          NaN         NaN  0.580793
                    8.0        Group_3          NaN         NaN  0.298638
                    11.0       Group_3          NaN         NaN  0.407552
                    14.0       Group_3          NaN         NaN  0.447053
                    15.0       Group_3          NaN         NaN  0.368655

                                              rq      vco2      vh2o  \
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control  0.880472  1.316580  0.173423
                    4.0        Control  0.984676  1.496917  0.198459
                    7.0        Control  0.940780  1.701826  0.132808
                    10.0       Control  0.990359  1.407279  0.192192
                    13.0       Control  0.952537  1.384137  0.172973
...                                          ...       ...       ...
2021-07-29 23:45:00 6.0        Group_3  0.748921  1.519262  0.214764
                    8.0        Group_3  0.819713  0.840468  0.111922
                    11.0       Group_3  0.765918  1.085374  0.119958
                    14.0       Group_3  0.827284  1.266832  0.170095
                    15.0       Group_3  0.765468  0.982507  0.213667

                                             vo2  xbreak  ybreak
Date_Time_1         subjectsID Group
2021-07-29 00:05:00 1.0        Control  1.494505    99.0    91.0
                    4.0        Control  1.523803    71.0    66.0
                    7.0        Control  1.808917   268.0   427.0
                    10.0       Control  1.420957    42.0   147.0
                    13.0       Control  1.454403     0.0    61.0
...                                          ...     ...     ...
2021-07-29 23:45:00 6.0        Group_3  2.029835   207.0   377.0
                    8.0        Group_3  1.027085    43.0    88.0
                    11.0       Group_3  1.418955   240.0   238.0
                    14.0       Group_3  1.535082   211.0   296.0
                    15.0       Group_3  1.283330   150.0   402.0

[1152 rows x 17 columns]

In [86]:

date_time_index = df.index.get_level_values(0)
date_time_index

DatetimeIndex(['2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               '2021-07-28 16:45:00', '2021-07-28 16:45:00',
               ...
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00',
               '2021-09-09 12:05:00', '2021-09-09 12:05:00'],
              dtype='datetime64[ns]', name='Date_Time_1', length=46672, freq=None)

In [95]:
csv = pd.read_clipboard()
csv.to_csv('Meital.csv', index=False)

In [119]:
meital = pd.read_csv('Meital.csv', parse_dates=['DateTime', 'time'])
meital.time = meital.time.dt.time
group_all_mices

                     kcal_hr_M
DateTime   time
2020-10-01 15:06:00   0.391282
           15:11:00   0.397411
           15:16:00   0.404335
           15:21:00   0.411559
           15:26:00   0.416963
...                        ...
2020-10-18 07:42:00   0.415315
           07:47:00   0.416259
           07:52:00   0.437029
           07:57:00   0.445369
           08:02:00   0.419067

[4805 rows x 1 columns]

In [182]:
grouped = meital.drop(columns='Animal').groupby(['DateTime', 'time'])
group_all_mices = grouped.mean().reset_index()
date_time = pd.to_datetime(group_all_mices['DateTime'].astype('string') + " " + group_all_mices['time'].astype('string'))
group_all_mices = group_all_mices.drop(columns=['DateTime', 'time'])
group_all_mices = group_all_mices.set_index(date_time)
group_all_mices[group_all_mices.index.hour == 8]

#.between_time('9:00','10:00')

                     kcal_hr_M
2020-10-02 08:01:00   0.387327
2020-10-02 08:06:00   0.381143
2020-10-02 08:11:00   0.390669
2020-10-02 08:16:00   0.380445
2020-10-02 08:21:00   0.381645
2020-10-02 08:26:00   0.372033
2020-10-02 08:31:00   0.375967
2020-10-02 08:36:00   0.377276
2020-10-02 08:41:00   0.372005
2020-10-02 08:46:00   0.383237
2020-10-02 08:51:00   0.403781
2020-10-02 08:56:00   0.398369
2020-10-03 08:01:00   0.265657
2020-10-03 08:06:00   0.262503
2020-10-03 08:11:00   0.257517
2020-10-03 08:16:00   0.260260
2020-10-03 08:21:00   0.279431
2020-10-03 08:26:00   0.296496
2020-10-03 08:31:00   0.304842
2020-10-03 08:36:00   0.306866
2020-10-03 08:41:00   0.319362
2020-10-03 08:46:00   0.321314
2020-10-03 08:51:00   0.334811
2020-10-03 08:56:00   0.334828
2020-10-04 08:01:00   0.373108
2020-10-04 08:06:00   0.369665
2020-10-04 08:11:00   0.384790
2020-10-04 08:16:00   0.368220
2020-10-04 08:21:00   0.369636
2020-10-04 08:26:00   0.373145

In [145]:
group_all_mices

                     kcal_hr_M date_time
DateTime   time
2020-10-01 15:06:00   0.391282       NaT
           15:11:00   0.397411       NaT
           15:16:00   0.404335       NaT
           15:21:00   0.411559       NaT
           15:26:00   0.416963       NaT
...                        ...       ...
2020-10-18 07:42:00   0.415315       NaT
           07:47:00   0.416259       NaT
           07:52:00   0.437029       NaT
           07:57:00   0.445369       NaT
           08:02:00   0.419067       NaT

[4805 rows x 2 columns]